[client]
default-character-set=utf8

[mysql]
default-character-set=utf8


[mysqld]
server-id=2
log-bin=master-02-bin

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
key_buffer_size=64M
back_log=512
max_connections=1500

log_bin_trust_function_creators=1


