[client]
default-character-set=utf8

[mysql]
default-character-set=utf8


[mysqld]


character-set-server=utf8mb4
collation-server=utf8mb4_unicoe_ci
key_buffer_siz=64M
back_log=512
max_connections=1500


